body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 32px;
}

header h2 {
    margin: 5px 0 0;
    font-size: 18px;
    font-weight: 300;
    color: #bbb;
}

/* Navigation Bar */
nav {
    background-color: #444;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    transition: background 0.3s, border-radius 0.3s;
}

nav ul li a:hover, .active {
    background-color: #777;
    border-radius: 5px;
}

.content {
    width: 60%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.center-text {
    text-align: center;
}

.left-text {
    text-align: left; 
    margin-left: 20px;
}

.left-text ul {
    padding-left: 20px;
    list-style-position: outside;
}
